<header class="header">
    {% block header %}
        <div class="row navbar">

            <nav role="navigation" class="col-m1">
                <div class="menuToggle">
                    <input type="checkbox" />
                    <span></span>
                    <span></span>
                    <span></span>
                    <ul class="menu">
                        <a href="#">
                            <li>
                                {# if user is defined and not null #}
                                    {% if user is defined and user %}
                                        <a class="nav-link user-linkProfile" href="/profile"><img class="user-image" src="./img_site/user.png" alt="User"></a>
                                    {% else %}
                                        <a class="nav-link user_link" href="/auth">Connexion/Inscription</a>
                                {% endif %}
                            </li>
                        </a>
                        <a href="#">
                            <li>
                                {# if user is defined and not null #}
                                    {% if user is defined and user %}
                                        <a class="nav-link" href="/profile">Mes galeries</a>
                                    {% else %}
                                        <a class="nav-link" href="/auth">Mes galeries</a>
                                {% endif %}
                            </li>
                        </a>
                        <a class="nav-link" href="/about"><li>A propos</li></a>
                    </ul>
                </div>
            </nav>

            <div class="col-m2"></div>

            <div class="header-search col-m7 ">
                <form method="POST" class="header_search row" action="/search">
                    <div class="search-bar col-m11 row">
                        <span class="col-m1 search_icon material-symbols-outlined"> search </span>
                        <input class="search-input col-m10" type="text" placeholder="Rechercher par nom" name="searchBar">
                    </div>
                    <button class="search-detailButton col-m1" type="submit">
                        <span class="detailButton_icon material-symbols-outlined"> tune </span>
                    </button>
                </form>
            </div>

            <a class="header-nav nav-link col-m2" href="/">
                <img class="logo-image" src="/img_site/logo.png" alt="Logo">
                <h1 class="logo_title">MediaPhoto</h1>
            </a>

        </div>
    {% endblock %}
</header>