{% include "parts/head.html.twig"%}

<body>
    {% block body %} 

        {% include "parts/navbar.html.twig"%}
            <form action="/" method="post">
                
            </form>
    {% endblock %}
</body>

{% include "parts/footer.html.twig"%}