{% include "parts/head.html.twig"%}

<body>
    {% block body %} 

        {% include "parts/navbar.html.twig"%}
            <form enctype='multipart/form-data' action="/" method="post">
                <input type='file' name='uploadImage'>
            </form>
    {% endblock %}
</body>

{% include "parts/footer.html.twig"%}