{% include "parts/head.html.twig"%}

<body>
    {% block body %}

        {% include "parts/navbar.html.twig"%}
        <div id="publicGallery">
            {% for publicGallery in listPublicGalleries %}
                <div>
                    {{ publicGallery.name }}
                    {{ tabImg[publicGallery.id] }}
                </div>
            {% endfor %}
        </div>

    {% endblock %}
</body>

{% include "parts/footer.html.twig"%}