{% include "parts/head.html.twig"%}

<body>
    {% block body %} 

        {% include "parts/navbar.html.twig"%}
        
        <h1> {{username}} </h1>
        <p>A rejoint le </p>

        <h2>Mes galeries</h2>

        {% for userGallery in userGalleries %}
            
            <a href="/gallery/{{userGallery.id}}"> {{ userGallery.name }} </a><br>

        {% endfor %}


    {% endblock %}
</body>

{% include "parts/footer.html.twig"%}