{% include "parts/head.html.twig"%}

<body>
    {% block body %} 

        {% include "parts/navbar.html.twig"%}
        
        <div class="name"> 
            <h1 class="username">{{username}}</h1>
            <span class="logout material-symbols-outlined" onclick="self.location.href='/logout'"> logout </span>
        </div>

        <hr class="separator">
        
        <h2 class="galleries">Mes galeries</h2>

        {% for userGallery in userGalleries %}
            
            <a href="/gallery/{{userGallery.id}}"> {{ userGallery.name }} </a><br>

        {% endfor %}


    {% endblock %}
</body>

{% include "parts/footer.html.twig"%}