{% include "parts/head.html.twig"%}

<body>
    {% block body %} 

        {% include "parts/navbar.html.twig"%}
        
        <h1> Mes Galeries </h1>

        {% for userGallery in userGalleries %}
            
            <p> {{userGallery.name}} </p>

        {% endfor %}


    {% endblock %}
</body>

{% include "parts/footer.html.twig"%}