$nb-columns: 12 !default;
$gutter: 2% !default;
$one-column-width: calc((100% - ($nb-columns + 1) * $gutter) / $nb-columns) !default;

@mixin row() {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

@mixin column() {
  flex-grow: 0;
  flex-shrink: 0;
  justify-content: flex-start;
  box-sizing: border-box;
  margin-left: $gutter;
}

@mixin span($span) {
  flex-basis: $span * $one-column-width + $gutter * ($span - 1);
}


.grid-container {
  columns: 12 250px;
  column-gap: 20px;
  width: 100%;
  margin: 0 auto;
  div {
    margin: 0 1.5rem 1.5rem 0;
    position: relative;
    display: inline-block;
    width: 100%;
    border-radius: 15px;
    img {
      width: 100%;
      border-radius: 5px;
      filter: brightness(0.5);
      transition: ease-in-out 0.3s;
    }
    &:hover img {
      filter: brightness(1);
      transition: ease-in-out 0.25s;
    }
    p {
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      font-weight: bold;
      filter: none;
      z-index: 20;
      text-shadow: black 0.1em 0.1em 0.2em;
    }

  }
}

@mixin span-col($width) {
  grid-column: span $width;
}